[{gateway, [
            {hostname, "cloud.flotype.com"},
            {tcp_port, 8090},
            {web_port, 8091},
            {reconnect_timeout, 5000},
            {redirector_url,"http://ip-10-248-14-114.us-west-2.compute.internal:7001/ctl/"},
            {ctl_port, 7002},
            {log, file}]},
 {sasl,    [{errlog_type,      error}]}].
